<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/write.css"/>
    <title>Memo Editing</title>
</head>
<body>
    <div class="header"> 
        <div class="app-name">
            <h1>Go-Notepad</h1>
        </div>
        <div class="user-info">
            <a class="button">Home</a>
        </div>
    </div> 
    <form class="content" action="/memo/edit/{{$.Id}}" method="POST">
        <input type="hidden" name="id"/>
        <div class="title-section">
            <h3>제목 : </h3>
            <input class="memo-title" value="{{$.Title}}" required type="text" placeholder="title" name="title"/>
        </div>
        <div class="text-section"> 
            <h3>본문</h3>
            <textarea class="memo-content"  required wrap="hard" name="content">{{ .Content }}</textarea>
        </div>
        <div class="btn-section">  
            <button class="save-btn"> 저장하기 </button>
            <a class="button" href="/memo/list"> 돌아가기</a>
        </div>
    </form>
</body>
</html>