<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/list.css"/>
    
    <title>Memo List</title>
</head>
<body>
    <div class="header"> 
        <div class="app-name">
            <h1>Go-Notepad</h1>
        </div>
        <div class="user-info">
           <h1 class="user-name"> </h1>
           <a href="/logout" class="button">logout</a>
        </div>
    </div> 
    <div class="content">
        <div class="content-block">
            <div class="block-time">
                <!-- form태그를 GET으로 활용해도 괜찮은지 질문-->
                <div>
                    <form action="/memo/list" method="GET" >
                        <input type="text" name="search" placeholder="memo-title">
                        <button>검색</button>
                    </form>
                    <a class="button" href="/analysis/list">AI 분석</a>
                </div>
                <div>
                    {{if not .DeletePart}}
                    <a href="/memo/list/delete" class="button">일괄 삭제</a>
                    {{ else }}
                    <a href="/memo/list" class="button">취소 </a>
                    {{ end}}
                </div>
            </div>
            {{if .DeletePart}} 
            <form action="/memo/list/delete" method="POST">
            {{ end}}
            {{range $_, $memo := .Memos}}
            <div class="block-memo-list">
                <div class="list-memo-item"> 
                    <div class="item-title">
                        <p class="title-text"> {{$memo.Title}}</p>
                    </div> 
                    <div>
                        <a href="/memo/{{$memo.Id}}" class="button">열기</a>
                        <a href="/memo/edit/{{$memo.Id}}" class="button">수정</a>
                        <a href="/memo/delete/{{$memo.Id}}" class="button">삭제</a> 
                        {{if $.DeletePart}}
                            <input class="delete-box" type="checkbox" name="delete-box" value="{{$memo.Id}}">
                        {{ end }}
                    </div> 
                </div>
            </div>
            {{end}}
            {{if .DeletePart}}
            <div class="delete-part">
                <button class="button">삭제하기</button>
            </div>
            </form>
            {{ end }}
        </div>
    </div>
    <div class="pages">
        {{if .LeftBtn}}
            <a class="button" href="/memo/list/{{ .LeftVal}}"> 이전</a>
        {{ end }}
        {{range $i := .Pages}}
            {{ if eq $i $.StartInt}}
            <a class="current-button" href="#">{{$i}}</a>
            {{ else }}
            <a class="button" href="/memo/list/{{$i}}">{{$i}}</a>
            {{end}}
        {{end}} 
        {{if .RightBtn}}
            <a class="button" href="/memo/list/{{ .RightVal}}"> 다음 </a>
        {{ end }}
    </div>
    <div class="memo-write">
      <a href="/memo/write" class="button">메모 작성하기 </a>
    </div>
    <script src="/static/js/util/domMan.js"></script>
    <script src="/static/js/memo/list.js"></script>
</body>
</html>