<!DOCTYPE html>
<html class="h-full" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Memo</title>
</head>
<body class="h-full">
    <div class="flex justify-between "> 
        <div class="m-3" >
            <h1 class="font-semibold text-3xl">Go-Notepad</h1>
        </div>
        <div class="m-6">
            <a class="bg-blue-500 text-white p-3 rounded-lg">Home</a>
        </div>
    </div> 
    <div class="flex flex-col justify-items-center h-full">
        <div class="flex font-semibold">
            <h3>제목 : </h3>
            <h3 > {{.Title}}</h3>
        </div>
        <div > 
            <h3>본문</h3>
            <p > {{.Content}} </p>
        </div>
        <div >  
            <a class="bg-blue-500 text-white p-3 rounded-lg" href="/memo/edit/{{$.Id}}" > 수정하기 </a>
            <a class="bg-blue-500 text-white p-3 rounded-lg" href="/memo/list" > 돌아가기 </a>
        </div>
    </div>
</body>
</html>