<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/analysis.css"/>
    
    <title>Analysis</title>
</head>
<body>
    <div class="header"> 
        <div class="app-name">
            <h1>Go-Notepad</h1>
        </div>
        <div class="user-info">
            <a class="button">Home</a>
        </div>
    </div> 
    <div class="content">
        <div class="title-section">
            <h3>제목 : </h3>
            <h3 class="memo-title"> {{.Title}}</h3>
            <h3>종류 : </h3>
            <h3 class="memo-title"> {{.Concept}}</h3>
        </div>
        <div class="tag-section">
        </div>
        <div class="text-section"> 
            <h3>본문</h3>
            <p class="memo-content"> {{.Content}} </p>
        </div>
        <div class="btn-section">  
            <a href="/analysis/list" class="button"> 돌아가기 </a>
        </div>
    </div>
</body>
</html>